{% extends 'layout.html' %}

{% block name_1 %}
	<p class="mb-1 text-black">{{ username }}</p>
{% endblock %}

{% block name_2 %}
    <span class="font-weight-bold mb-4">{{ username }}</span>       
{% endblock %}

{% block content %}
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
              <i class="mdi mdi-home"></i>                 
            </span>
            店铺分析
          </h3>
		  </div>
		  
		  <div class="row">
		    <div class="col-12 grid-margin">
		      <div class="card">
				<div class="card-body">
				  <h3 class="card-title">所有的商品信息</h3>
				  <div class="table-responsive">
				    <table class="table table-bordered">
				      <thead>
				        <tr class="table-primary">
				          <th>
				            店铺名
				          </th>
				          <th>
				            店铺星级
				          </th>
				          <th>
				            商品评价
				          </th>
				          <th>
				            物流评价
				          </th>
				          <th>
				            售后评价
				          </th>
				        </tr>
				      </thead>
				      <tbody>
						{% for obj in df_shop %}
				        <tr class="table-info">
				          <td>
				            {{ obj.shop_name }}
				          </td>
				          <td>
							<label class="badge badge-gradient-success">{{ obj.shop_start }}</label>
				          </td>
				          <td>
				            {{ obj.shop_price }}
				          </td>
				          <td>
				            {{ obj.wuliu_price }}
				          </td>
				          <td>
				            {{ obj.shouhou_price }}
				          </td>
				        </tr>
					  {% endfor %}
				      </tbody>
				    </table>
					{{ pagination.links }}
				  </div>
				</div>
		      </div>
		    </div>
		  </div>

        
	</div>
{% endblock %}