<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>服装数据分析系统 login</title>

  <link rel="stylesheet" href="../../../static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../../static/vendors/css/vendor.bundle.base.css">

  <link rel="stylesheet" href="../../../static/css/style.css">
  
  <link rel="shortcut icon" href="../../../static/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left p-5">
              <div class="brand-logo">
                <img src="../../../static/images/login.jpg" style="width: 70%;">
				<!-- <h2 style="text-align: center;color: plum">服装数据分析系统</h2> -->
              </div>
              <h4>欢迎来到 服装数据分析系统</h4>
              <h6 class="font-weight-light">请登录</h6>
              <form class="pt-3" action="/user/login" method="POST">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" name="username" id="username" placeholder="用户名">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="密码">
                </div>
                <div class="mt-3">
                  <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn"  type="submit">登录</button>
                </div>

                
                <div class="text-center mt-4 font-weight-light">
                  还没有账号? <a href="/user/register" class="text-primary">注册</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../../static/vendors/js/vendor.bundle.base.js"></script>
  <script src="../../../static/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="../../../static/js/off-canvas.js"></script>
  <script src="../../../static/js/misc.js"></script>
  <!-- endinject -->
</body>

</html>
